/* fx678 start */

#fx678 [id^='lf_small'], #fx678 .cs_top, #fx678 .tz_mar{
  display: none;
}

#fx678 .hc_top_area, #fx678 .hc_logo_area, #fx678 .menu_ads{
  display: none;
}

#fx678 [id^='cl_ad'], #fx678 .ad-cont{
  display: none;
}

#fx678 [class^='cl_ad'], #fx678 .box{
  visibility: hidden;
}

#fx678 .quoteIdx_ads + .quoteIdx_area{
  display: none;
}

#fx678 [id^='lf_big'], #fx678 [id^='lf_small'] {
  display: none !important;
}

#fx678 .quoteIdx_ads{
  visibility: hidden;
}

#fx678 .zr-chart--container .zr-2{
  /*height: 0 !important;*/
  display: none;
}

#fx678 [id^='flow-ad'] {
  display: none;
}
/* fx678 end */

/* 东方财富 start */
#eastmoney [class^='adFrame'], #eastmoney .advert{
  display: none;
}
/* 东方财富 end */

/* 字幕组 start */
#zmz .adsbygoogle, #zmz .lx167, #zmz .chat-enterbox{
  display: none !important;
}
/* 字幕组 end */

/* extra end */
#teddy .headed, #teddy .ed-content, #teddy #videoEdDiv,
#teddy .adwrap_bm{
  display: none !important;
}

#clang .advbox, #clang .left_link, #clang .right_link, #clang [class^='ads_'],
#clang #qq_box, #clang #top_box, #clang .notice{
  display: none !important;
}
#clang {
  background: none !important;
}
/* extra end */
