/* fx678 start */

body.fx678 [id^='lf_small'], body.fx678 .cs_top, body.fx678 .tz_mar{
  display: none;
}

body.fx678 .hc_top_area, body.fx678 .hc_logo_area, body.fx678 .menu_ads{
  display: none;
}

body.fx678 [id^='cl_ad'], body.fx678 .ad-cont, body.fx678 .adv-cont,
body.fx678 [class^='aside-adv'], body.fx678 .aside-store {
  display: none;
}

body.fx678 [class^='cl_ad'], body.fx678 .box{
  visibility: hidden;
}

body.fx678 .quoteIdx_ads + .quoteIdx_area{
  display: none;
}

body.fx678 [id^='lf_big'], body.fx678 [id^='lf_small'] {
  display: none !important;
}

body.fx678 .quoteIdx_ads{
  visibility: hidden;
}

body.fx678 .zr-chart--container .zr-2{
  /*height: 0 !important;*/
  display: none;
}

body.fx678 [id^='flow-ad'] {
  display: none;
}
/* fx678 end */

/* 东方财富 start */
#eastmoney [class^='adFrame'], #eastmoney .advert, #eastmoney .emfloat_wrapper iframe,
#eastmoney iframe.lyad, #eastmoney #emFloat_rd, #eastmoney [id^='flow-ad'],
#eastmoney #rightAD{
  display: none !important;
}
/* 东方财富 end */

/* 字幕组 start */
#zmz .adsbygoogle, #zmz .lx167, #zmz .chat-enterbox{
  display: none !important;
}
/* 字幕组 end */

/* extra end */
#teddy .headed, #teddy .ed-content, #teddy #videoEdDiv,
#teddy .adwrap_bm{
  display: none !important;
}

#clang .advbox, #clang .left_link, #clang .right_link, #clang [class^='ads_'],
#clang #qq_box, #clang #top_box, #clang .notice{
  display: none !important;
}
#clang {
  background: none !important;
}
/* extra end */

/* common */
iframe[id^='google_ads'] {
  display: none;
}

#tianya iframe, #tianya [class^='ads']{
  display: none;
}

#video-ad{
  display: none;
}
/* common */

/* 微信 start */
body.appmsg_skin_default em{
  font-style: normal !important;
}
/* 微信 end */

/* sina start */
body#sina .sinaad-toolkit-box, body#sina .fc_sidebar,
body#sina .top-banner, body#sina .ad, body#sina .right-side-ad,
body#sina [id^='ad_'], body#sina [data-sudaclick^='ad_'],
body#sina .sinaads, body#sina [class^='ny-link-r']{
  display: none !important;
}

/* sina end */

/* 英为才情 start */
#investing .midHeader{
  display: none !important;
}
/* 英为才情 end */
